@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.btn-color-theme{
    color: white !important;
    background-color: green;
}

.text-theme{
    color: green;
}

a:hover{
    color:green;
}

.border-radius-20{
    border-radius: 20px;
}

.p{
    padding: 15px;
}

.text-home{
    color:black;
}

.btn-outline-theme{
    border: 1px solid green;
    color:green !important;
}

.btn-outline-theme:hover{
    background-color: green;
    border-color: green;
    color:white !important;
}
